<div class="card-body">
    <h6 class="mb-0 text-muted"> </h6>
    <p class="text-24 font-weight-light mb-1 text-center">Categories</p><p></p>
    <p></p>
    <p class="text-small text-muted text-center">Des produits existants.</p>
    
    <table class="table">

        <tbody>
          <tr>
            <td style="color: #4CAF50;">1 </td>
            <td class="font-weight-bold"  > <button class="btn btn-secondary" (click)="alimP()"> Alimentaire</button></td>
          </tr>
          <tr>
            <td style="color: #df0029;">2 </td>
            <td class="font-weight-bold" ><button class="btn btn-secondary" (click)="electP()"> Electromenager</button></td>
          </tr>
          <tr>
            <td style="color: #CF1CC9;">3 </td>
            <td class="font-weight-bold" ><button class="btn btn-secondary" (click)="quincP()"> Quincaillerie</button></td>
          </tr>                    
          
        </tbody>
      </table>
</div>
<p>prod-selon-type works!</p>
