<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="d-flex mb-5" *ngIf="viewMode === 'edit'">
                    <span class="m-auto"></span>
                    <button class="btn btn-outline-secondary mr-3" (click)="viewMode = 'print'">Cancel</button>
                    <btn-loading btnClass="btn-primary" [loading]="saving" (click)="saveInvoice()">Save</btn-loading>
                </div>
                <div class="d-sm-flex mb-5" *ngIf="viewMode !== 'edit'">
                    <span class="m-auto"></span>
                    <button class="btn btn-outline-secondary mr-3 mb-sm-0 mb-3" routerLink="/invoice">Back To
                        Invoices</button>
                    <button class="btn btn-outline-secondary mr-3 mb-sm-0 mb-3" (click)="viewMode = 'edit'">Edit
                        Invoice</button>
                    <button class="btn btn-primary mb-sm-0 mb-3" (click)="print()">Print Invoice</button>
                </div>
                <!---===== Print Area =======-->
                <div id="print-area" *ngIf="viewMode !== 'edit'">
                    <div class="row">
                        <div class="col-md-6">
                            <h4 class="font-weight-bold">Order Info</h4>
                            <p>#{{invoice.idFacture}}</p>
                        </div>
                        <div class="col-md-6 text-sm-right">
                            <p><strong>Order status: </strong> {{invoice?.etat}}</p>
                            <p><strong>Order date: </strong> {{invoice?.dateFacture | date}}</p>
                        </div>
                    </div>
                    <div class="mt-3 mb-4 border-top"></div>
                    <div class="row mb-5">
                        <div class="col-md-6 mb-3 mb-sm-0">
                            <h5 class="font-weight-bold">Bill From</h5>
                            <p>{{invoice?.client.nom}} {{invoice?.client.prenom}}</p>
                            <span style="white-space: pre-line">
                                {{invoice?.client.profession}}
                            </span>
                        </div>
                        <div class="col-md-6 text-sm-right">
                            <h5 class="font-weight-bold">Bill Total</h5>
                            <p>{{invoice?.montantFacture}}</p>
                            <span style="white-space: pre-line">
                                {{invoice?.montantRemise}}
                            </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-hover mb-4">
                                <thead class="bg-gray-300">
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Item Name</th>
                                        <th scope="col">Unit Price</th>
                                        <th scope="col">Unit</th>
                                        <th scope="col">Cost</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of invoice?.factDetails; let i = index">
                                        <th scope="row">{{i + 1}}</th>
                                        <td>{{item.produit.libelle}}</td>
                                        <td>{{item.produit.prixUnitaire}}</td>
                                        <td>{{item.qte}}</td>
                                        <td>{{item.prixTotal}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="col-md-12">
                            <div class="invoice-summary float-right">
                                <p>Sub total: <span>DT {{invoice?.montantFacture - invoice?.montantRemise}}</span></p>
                                <p>Promotion: <span>
                                        DT{{invoice?.montantRemise}}
                                    </span></p>
                                <h5 class="font-weight-bold">Grand Total: <span>
                                        DT{{invoice?.montantFacture}}
                                    </span></h5>
                            </div>
                        </div>
                    </div>
                </div>
                <!--==== / Print Area =====-->

                <!--==== Edit Area =====-->
                <div *ngIf="viewMode === 'edit'">
                    <form [formGroup]="invoiceForm">
                        <div class="row justify-content-between">
                            <div class="col-md-6">
                                <h4 class="font-weight-bold">Order Info</h4>
                            </div>
                            <div class="col-md-3 text-right">
                                <label class="d-block text-12 text-muted">Order Status</label>
                                <div class="pr-0 mb-4">
                                    <label class="radio radio-reverse radio-danger">
                                        <input type="radio" name="etat" value="Non_payee" formControlName="etat">
                                        <span>Non payée</span>
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="radio radio-reverse radio-warning">
                                        <input type="radio" name="etat" value="Annulee" formControlName="etat">
                                        <span>Annulée</span>
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="radio radio-reverse radio-success">
                                        <input type="radio" name="etat" value="Payee" formControlName="etat">
                                        <span>Payée</span>
                                        <span class="checkmark"></span>
                                    </label>

                                </div>
                                <div class="form-group mb-3">
                                    <label for="picker1">Order Date</label>
                                    <div class="input-group">
                                        <input formControlName="dateFacture" id="picker1"
                                            class="form-control text-right" placeholder="yyyy-mm-dd" name="dp"
                                            ngbDatepicker #orderDatePicker="ngbDatepicker">
                                        <div class="input-group-append">
                                            <button class="btn btn-secondary" (click)="orderDatePicker.toggle()"
                                                type="button">
                                                <i class="icon-regular i-Calendar-4"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="mt-3 mb-4 border-top"></div>
                        <div class="row mb-5">
                            <!-- <div class="col-md-6" [formGroup]="invoiceForm.controls['client']"> -->
                            <div class="col-md-6">
                                <h5 class="font-weight-bold">Bill From</h5>
                                <div class="col-md-10 form-group mb-3 pl-0">
                                    <select formControlName="client" class="form-control" id="billFrom"
                                        placeholder="Bill From">
                                        <option *ngFor="let client of clients; let i = index" [value]="client.idClient">
                                            {{client.nom}} {{client.prenom}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 table-responsive">
                                <table class="table table-hover mb-3">
                                    <thead class="bg-gray-300">
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Item Name</th>
                                            <th scope="col">Unit</th>
                                            <th scope="col"></th>
                                        </tr>
                                    </thead>
                                    <tbody formArrayName="factDetails">
                                        <tr *ngFor="let item of invoiceForm.controls['factDetails'].controls; let i = index;"
                                            [formGroupName]="i">
                                            <th scope="row">{{i + 1}}</th>
                                            <td>
                                                <select formControlName="produit" class="form-control"
                                                    placeholder="Item">
                                                    <option *ngFor="let produit of produits; let i = index"
                                                        [value]="produit.idProduit">
                                                        {{produit.libelle}}
                                                    </option>
                                                </select>
                                                <!-- <input formControlName="libelle" type="text" class="form-control" -->
                                                <!-- placeholder="Item Name"> -->
                                            </td>
                                            <td>
                                                <input formControlName="qte" type="number" class="form-control"
                                                    placeholder="Unit">
                                            </td>
                                            <td>
                                                <button class="btn btn-outline-secondary float-right"
                                                    (click)="removeItem(i)">Delete</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <button class="btn btn-primary float-right mb-4" (click)="addItem()">Add Item</button>
                            </div>

                            <!-- <div class="col-md-12">

                                <div class="invoice-summary invoice-summary-input float-right">
                                    <p>Sub total: <span>DT{{subTotal}}</span>
                                    </p>
                                    <p class="d-flex align-items-center">Vat:<span>
                                            <input type="text" class="form-control small-input"
                                                formControlName="montantRemise">
                                            DT
                                            {{(invoiceForm.controls['montantRemise'].value)}}
                                        </span></p>
                                    <h5 class="font-weight-bold d-flex align-items-center">Grand Total:
                                        <span>
                                            <input type="text" class="form-control small-input"
                                                formControlName="montantFacture">
                                            DT
                                            {{subTotal - (invoiceForm.controls['montantRemise'].value)}}
                                        </span>
                                    </h5>
                                </div>
                            </div> -->

                        </div>
                    </form>
                </div>
                <!--==== / Edit Area =====-->
            </div>
        </div>
    </div>
</div>