<div class="col-md-12">
    <div class="card mb-4">
        <div class="card-body">
            <div class="card-title mb-3">Ajouter une reclamation </div>
            <form  >
                <div class="row">
                    <div class="col-md-6 form-group mb-3">
                        <label for="description">description</label>
                        <input formControlName="description" type="text" class="form-control form-control-rounded" id="description" placeholder="Enterez description">

                    </div>


                    <div class="col-md-6 form-group mb-3">
                        <label for="picker1">type reclamation</label>
                        <select formControlName="type reclamation" class="form-control form-control-rounded">
                            <option>Retour</option>
                            <option>Echange</option>
                         
                        </select>

                    </div>

                    <div class="col-md-6 form-group mb-3">
                        <label for="dateDeCreation">Date De création</label>
                        <div class="input-group">
                            <input formControlName="dateDeNaissance" id="picker1" class="form-control form-control-rounded" placeholder="yyyy-mm-dd" name="dp"
                                ngbDatepicker #dp="ngbDatepicker">
                            <div class="input-group-append">
                                <button class="btn btn-secondary btn-rounded" (click)="dp.toggle()" type="button">
                                    <i class="icon-regular i-Calendar-4"></i>
                                </button>
                            </div>
                        </div>
                    </div>

                

                    <div class="col-md-12">
                        <button class="btn btn-primary m-1" type="submit">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
